@import 'reset';
@import 'buttons';

$page_width: 800px;

#wrapper {
    width: $page_width;
    margin: auto;
}

.ships {
	float: left;
}

/**
 * Ship board view stylesheat
 * 
 */

$board_cell_width: 30px;
$board_cell_height: $board_cell_width;

$board_width: $board_cell_width * 11;// + 10;
$board_height: $board_cell_height * 11;// + 10;

.board 
{
	&.player,
	&.enemy
	{
		width: $board_width;
		height: $board_height;
		clear: both;
		background-color: #EEE9E9;
		
		$ship_img_url: url('../img/PPCA_ship.svg');
		$fire_img_url: url('../img/flame.svg');
		$miss_img_url: url('../img/water-splash.svg');
			
		a.button 
		{
			width: $board_cell_width - 2px;
			height: $board_cell_height - 2px;
			float: left;
			margin: 0px;// 1px 1px 0px;
			padding: 0px;
			background-color: white;
			background-size: $board_cell_width $board_cell_width;
			
			&:hover {
				background-image: $ship_img_url;
				opacity: 0.5;
			}
			
			&.miss {
				background-image: $miss_img_url;
				background-color: blue;
				
				&:hover { }
			}
		
			&.fire {
				background-image: $fire_img_url;
				//background-color: blue;
				
				&:hover { }
			}
			
			&.ship {
				background-image: $ship_img_url;
				background-color: red;
								
				&.validated {
					background-color: #00CA00;
				}
				
				&:hover { }
			}
			
			&.caption 
			{
				&:hover {
					background-image: none;
				}
				
				background-color: #CECECE;
				text-align: center;
				font-size: $board_cell_height - 10px;
				line-height: $board_cell_height;
			}
		}
		
		&.ready a.button:hover { 
			background-image: none;
		}
	}
	
	&.enemy a.button:hover {
		//background-image: none;
		background-image: url('../img/cannon-shot.svg');
		opacity: 0.8;
	}
}

/**
 * Ship board buttons widget stylesheat
 * 
 */
 
.ships.buttons
{
	width: $board_width;
	height: 50px;
}

/**
 * Ship board errors widget stylesheat
 * 
 */

.ships.errors
{
	width: $board_width;

	.error {
		&:before {
			content: 'Error: ';
		}
	
		border: 1px solid #FF1E03;
		//background-color: yellow;
		padding: 10px;
		color: #FF1E03;
	}
}

/**
 * Hide/show DOM elements
 *
 */

*.hide {
	display: none;
	visibility: hidden;
}

*.show {
	display: block;
	visibility: visible;
}

/**
 * Battle Scene
 *
 */

.player, 
.enemy {
	width: $board_width;
	float: left;
	padding: 2px;
}









